
/* Layout  */
body {
  	color: #d6d6d6 !important;
	background-color: #252525 !important;
}

.leftCol{
	background-color: #313131 !important;

}
.navbarMain{
	background-color: #313131 !important;
}
a.nav-link{
	background-color: #181818 !important;
}
a.active{
	background-color: #004480 !important;
	color: #d6d6d6 !important;

}
.jumbotronFooter{
	background-color: #004480 !important;

}
.btn-info{
	background-color: #181818 !important;
}
.btn-info.active{
	background-color: #6B88B3 !important;
}


/*dropdown- models picker*/
.dropbtn {
  background-color: #181818;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #004480;
}

.dropdown {
  position: fixed;
  top: 0px;
  left: 0px;

}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.show {display: block;}

 #modelsPicker{
  position: fixed;
  top: 0;
  left:0;

}
